@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home, .reportes, .productos {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.inner {
  position: absolute;
  width: 100%;
}
 
.fade-enter,
.fade-appear {
  opacity: 0;
}
 
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 400ms;
}
 
.fade-exit {
  opacity: 1;
}
 
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}